html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/main.css")
    body
        include headerNav.pug
        //layout block : content 로 명령된 퍼그를 포함시키겠다.
        block content
